/* Custom properties */
:root {
  --c-grey-900: hsl(217, 19%, 35%);
  --c-grey-500: hsl(214, 17%, 51%);
  --c-grey-400: hsl(212, 23%, 69%);
  --c-grey-200: hsl(210, 46%, 95%);
  --c-white: hsl(0, 100%, 100%);
  --fw-regular: 500;
  --fw-bold: 700;
}

/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--c-grey-200);
  height: 100vh;
}

main {
  /* display: flex; */
  /* align-items: center; */
  padding-inline: 1.5rem;
}

/* Card styles */

.card-container {
  background-color: var(--c-white);
  margin-block: auto;
}

.card-img-container {
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 25%;
 
}