:root {
  --c-grey-900: hsl(217, 19%, 35%);
  --c-grey-500: hsl(214, 17%, 51%);
  --c-grey-400: hsl(212, 23%, 69%);
  --c-grey-200: hsl(210, 46%, 95%);
  --c-white: hsl(0, 100%, 100%);
  --fw-regular: 500;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}